a.twitter-share-button(href="https://twitter.com/share" data-size="large" data-text=campaign.social.twitter_share_text data-show-count="false") Tweet
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
